<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Company</title>
</head>
<body>
    <h1>Company table</h1>

    <table style="text-align: center">
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Registration Number</td>
                <td>Address</td>
                <td>Email</td>
                <td>Phone Number</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="company : ${companyList}">
                <td th:text="${company.id}" ></td>
                <td th:text="${company.name}" ></td>
                <td th:text="${company.registrationNumber}" ></td>
                <td th:text="${company.address}" ></td>
                <td th:text="${company.email}" ></td>
                <td th:text="${company.phoneNumber}" ></td>
            </tr>
        </tbody>
    </table>
</body>
<footer>
    <a th:href="@{company}">Go to home</a>
</footer>
</html>
