<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Company</title>
</head>
<body>
<p th:text="${welcomeMessage}"></p>
<p th:text="${helloUser} + ${userName}"></p>
<a th:href="@{/start}">Go to app</a>

</body>
</html>