<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Company</title>
</head>
<body>
<form th:action="@{/company}" th:object="${welcomeForm}" method="post">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" autofocus="autofocus">
    <br>
    <label for="gdprConsent">GDPR Consent</label>
    <input type="checkbox" id="gdprConsent" name="gdprConsent" autofocus="autofocus">
    <br>
    <input type="submit" value="Submit">

</form>

    <p th:text="${errorMessage}"></p>



</body>
</html>
